<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suse.demo.mapper.TestPaperMapper">
  <resultMap id="BaseResultMap" type="com.suse.demo.entity.TestPaper">
    <id column="paper_id" jdbcType="VARCHAR" property="paperId" />
    <result column="paper_subject" jdbcType="VARCHAR" property="paperSubject" />
    <result column="paper_time" jdbcType="INTEGER" property="paperTime" />
    <result column="paper_type" jdbcType="VARCHAR" property="paperType" />
    <result column="paper_score" jdbcType="INTEGER" property="paperScore" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    paper_id, paper_subject, paper_time, paper_type, paper_score
  </sql>
  <select id="selectByExample" parameterType="com.suse.demo.entity.TestPaperExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from test_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_paper
    where paper_id = #{paperId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from test_paper
    where paper_id = #{paperId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.suse.demo.entity.TestPaperExample">
    delete from test_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suse.demo.entity.TestPaper">
    insert into test_paper (paper_id, paper_subject, paper_time, 
      paper_type, paper_score)
    values (#{paperId,jdbcType=VARCHAR}, #{paperSubject,jdbcType=VARCHAR}, #{paperTime,jdbcType=INTEGER}, 
      #{paperType,jdbcType=VARCHAR}, #{paperScore,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.suse.demo.entity.TestPaper">
    insert into test_paper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="paperSubject != null">
        paper_subject,
      </if>
      <if test="paperTime != null">
        paper_time,
      </if>
      <if test="paperType != null">
        paper_type,
      </if>
      <if test="paperScore != null">
        paper_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="paperSubject != null">
        #{paperSubject,jdbcType=VARCHAR},
      </if>
      <if test="paperTime != null">
        #{paperTime,jdbcType=INTEGER},
      </if>
      <if test="paperType != null">
        #{paperType,jdbcType=VARCHAR},
      </if>
      <if test="paperScore != null">
        #{paperScore,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suse.demo.entity.TestPaperExample" resultType="java.lang.Long">
    select count(*) from test_paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update test_paper
    <set>
      <if test="record.paperId != null">
        paper_id = #{record.paperId,jdbcType=VARCHAR},
      </if>
      <if test="record.paperSubject != null">
        paper_subject = #{record.paperSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.paperTime != null">
        paper_time = #{record.paperTime,jdbcType=INTEGER},
      </if>
      <if test="record.paperType != null">
        paper_type = #{record.paperType,jdbcType=VARCHAR},
      </if>
      <if test="record.paperScore != null">
        paper_score = #{record.paperScore,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update test_paper
    set paper_id = #{record.paperId,jdbcType=VARCHAR},
      paper_subject = #{record.paperSubject,jdbcType=VARCHAR},
      paper_time = #{record.paperTime,jdbcType=INTEGER},
      paper_type = #{record.paperType,jdbcType=VARCHAR},
      paper_score = #{record.paperScore,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suse.demo.entity.TestPaper">
    update test_paper
    <set>
      <if test="paperSubject != null">
        paper_subject = #{paperSubject,jdbcType=VARCHAR},
      </if>
      <if test="paperTime != null">
        paper_time = #{paperTime,jdbcType=INTEGER},
      </if>
      <if test="paperType != null">
        paper_type = #{paperType,jdbcType=VARCHAR},
      </if>
      <if test="paperScore != null">
        paper_score = #{paperScore,jdbcType=INTEGER},
      </if>
    </set>
    where paper_id = #{paperId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suse.demo.entity.TestPaper">
    update test_paper
    set paper_subject = #{paperSubject,jdbcType=VARCHAR},
      paper_time = #{paperTime,jdbcType=INTEGER},
      paper_type = #{paperType,jdbcType=VARCHAR},
      paper_score = #{paperScore,jdbcType=INTEGER}
    where paper_id = #{paperId,jdbcType=VARCHAR}
  </update>
</mapper>