<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>在线考试系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="layer/layer.js"></script>

    <!-- 引入bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body data-type="index">
    <script src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo "  style="color: gray"  >
                <br>
                在线考试系统
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                    </span>
                </div>
                <div class="am-fr tpl-header-navbar">
                    <ul>

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="/stu">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="/stuExam" class="active">
                        <i class="am-icon-user sidebar-nav-link-logo"></i> 考试信息
                    </a>
                </li>

            </ul>
        </div>


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">考试信息列表</div>
                            </div>
                            <div class="widget-body  am-fr">

                                <div class="widget-body  widget-body-lg am-fr">

                                    <table width="100%" class="am-table am-table-compact am-table-bordered tpl-table-black ">
                                        <thead>
                                        <tr>
                                            <th>考试编号</th>
                                            <th>试卷编号</th>
                                            <th>考试日期</th>
                                            <th>发布者</th>
                                            <th>考试班级</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr : th:each="examNew:${examListsNew}">
                                            <td th:text="${examNew.examId}"></td>
                                            <td th:text="${examNew.examPaper}"></td>
                                            <td th:text="${examNew.examDate}"></td>
                                            <td th:text="${examNew.examPublisher}"></td>
                                            <td th:text="${examNew.examClass}"></td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a th:href="@{'/examStart?examId='+${examNew.examId}}" type="button" id="examStart" style="color: #1a1a1a" >
                                                        <i class="am-icon-pencil"></i>开始考试
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr : th:each="exam:${examListsOld}">
                                            <td th:text="${exam.examId}"></td>
                                            <td th:text="${exam.examPaper}"></td>
                                            <td th:text="${exam.examDate}"></td>
                                            <td th:text="${exam.examPublisher}"></td>
                                            <td th:text="${exam.examClass}"></td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <label  class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash" ></i> 已过期
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>


                                    <input type="hidden" th:value="${msg}" id="msg"/>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/amazeui.datatables.min.js"></script>
    <script src="assets/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/app.js"></script>

    <script  >
        $(function () {
            var msg=$("#msg").val();
            if(msg){
                layer.msg(msg,{icon:2,time:900},function () {

                })
            }
        })
    </script>

</body>

</html>